<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Appointment</title>
</head>
<body>
    <h1>Create Appointment</h1>
    <form action="#" th:action="@{/appointment}" th:object="${appointment}" method="post">
        <p>
            <input type="text" name="firstName" placeholder="First Name" th:field="*{firstName}" required>
        </p>
        <p>
            <input type="text" name="lastName" placeholder="Last Name" th:field="*{lastName}" required>
        </p>
        <p>
            <input type="datetime-local" required>
        </p>
        <p>
            <input type="submit" value="Submit">
        </p>
    </form>

</body>
</html>